$sidebar-bg-color: #429798!default;
$sidebar-color: #429798 !default;
$icon-bg-color: #429798 !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';
#root {
  height: 100%;
}

body {
  height: 100vh;
}

.layout {
  height: 100%;
  display: flex;
}

.description {
  margin-top: 20px;
  text-align: center;
  font-family: Verdana;
  font-size: 14px;
  a {
    color:white;
    border-bottom-color: white;
    border-bottom-width: 2px;
    :visited {
      text-decoration: none;
    }
  }
}

.pro-sidebar {
  color: white !important;
  position: fixed !important;

  .pro-sidebar-header {
    border-bottom: 1px solid white !important;
  }
  .pro-sidebar-content{
    display: flex;
    flex-direction:column;
  }
}

.content-wrapper {
  flex:1;
}
.footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;

  a {
    color:white;
  }

  .ainize-icon {
    width: 90px;
  }
}
